# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages for Data Science
- Some of the popular languages that Data Scientists use
- Some of the commonly used libraries used by Data Scientists include

Some of the popular languages that Data Scientists use are:
1. R
2. SQL
3. Python

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. TenserFLow
3. NumPy
4. Matolib

| Data Science Tools |
|--------------------|
| R Studio           |
| Jupyter Notebook   |
| Apache Zeppelin    |

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
print((3*4)+5)

17

In [4]:
#This will convert 200 minutes to hours by diving by 60
a=200
b=a/60
print(b)

3.3333333333333335

## Author
Andrii